### Import pandas

In [1042]:
import pandas as pd

### Load dataset

In [1043]:
data = pd.read_csv('komeng_merge.csv')
data

,conversation_id_str,created_at,favorite_count,full_text,id_str,image_url,in_reply_to_screen_name,lang,location,quote_count,reply_count,retweet_count,tweet_url,user_id_str,username
0,1844528325047579013,Thu Oct 10 23:59:57 +0000 2024,0,yang ketawa ngerti maksud komeng kah itu?,1844528325047579013,NaN,NaN,in,NaN,0,0,0,https://x.com/flatpee/status/1844528325047579013,1241985484768735232,flatpee
1,1844347587928916061,Thu Oct 10 23:58:06 +0000 2024,0,@Heraloebss Goblok SJ kalau Komeng di bagian p...,1844527860578656311,NaN,Heraloebss,in,"Cikarang, Indonesia",0,0,0,https://x.com/AbisugandaCrg/status/18445278605...,1775976325016412160,AbisugandaCrg
2,1844334710316757045,Thu Oct 10 23:57:33 +0000 2024,3,@tvOneNews Sudah tepat pak Komeng bicara demik...,1844527722128884212,NaN,tvOneNews,in,NaN,0,0,0,https://x.com/APraja85/status/1844527722128884212,1553279597281546240,APraja85
3,1844527285527036209,Thu Oct 10 23:57:03 +0000 2024,0,Ketika sudah di bidang yang lain Komeng sebelu...,1844527599042904074,NaN,TilloM77,in,NaN,0,0,0,https://x.com/TilloM77/status/1844527599042904074,1799799483733286912,TilloM77
4,1844347587928916061,Thu Oct 10 23:56:44 +0000 2024,0,@Heraloebss gas terus bang komeng suara penduk...,1844527517266477282,NaN,Heraloebss,in,Sukabumi,0,0,0,https://x.com/lutfisetiono/status/184452751726...,325023707,lutfisetiono
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,1844347587928916061,Fri Oct 11 04:05:51 +0000 2024,0,@Heraloebss Klo komeng mundur berarti pemerint...,1844590209029243061,NaN,Heraloebss,in,Bandung,0,0,0,https://x.com/A_Herlambang13/status/1844590209...,389776635,A_Herlambang13
838,1844334710316757045,Fri Oct 11 04:04:35 +0000 2024,1,@tvOneNews Secara tidak langsung komeng meng k...,1844589889624605065,NaN,tvOneNews,in,Aceh Utara,0,0,0,https://x.com/Olifreak/status/1844589889624605065,324951734,Olifreak
839,1844377699374203234,Fri Oct 11 04:02:21 +0000 2024,1,@kegblgnunfaedh Pertanyaan bang Komeng emang c...,1844589330775540216,NaN,kegblgnunfaedh,in,Indonesia,0,0,0,https://x.com/funedito/status/1844589330775540216,154016853,funedito
840,1844373632270946562,Fri Oct 11 04:00:56 +0000 2024,0,@fajarnugros Orang kerja di kantor itu harus A...,1844588970681958668,NaN,fajarnugros,in,"-6.353156,106.714654‎→Pamulang",0,0,0,https://x.com/randirafa/status/184458897068195...,65546172,randirafa
841,1844508590406857098,Fri Oct 11 04:00:44 +0000 2024,0,@Flanqa semoga pak ketua bisa lebih pinter dan...,1844588920073486841,NaN,Flanqa,in,"Jakarta, Indonesia",0,0,0,https://x.com/oscartotango/status/184458892007...,77412879,oscartotango

### Cleansing function

In [1044]:
def cleansing(sent):
    # Mengubah kata menjadi huruf kecil semua dengan menggunakan fungsi lower()
    string = sent.lower()
    string = re.sub(r'http\S+', '', string)  # Menghapus link
    string = re.sub(r'@\w+', '', string)     # Menghapus mention
    string = re.sub(r'#\w+', '', string)     # Menghapus hashtag
    string = re.sub(r'\d+', '', string)      # Menghapus angka
    string = re.sub(r'[^\w\s]', '', string)  # Menghapus karakter khusus
    return string

In [1045]:
data['full_text'] = data.full_text.apply(cleansing)
data.head()

,conversation_id_str,created_at,favorite_count,full_text,id_str,image_url,in_reply_to_screen_name,lang,location,quote_count,reply_count,retweet_count,tweet_url,user_id_str,username
0,1844528325047579013,Thu Oct 10 23:59:57 +0000 2024,0,yang ketawa ngerti maksud komeng kah itu,1844528325047579013,NaN,NaN,in,NaN,0,0,0,https://x.com/flatpee/status/1844528325047579013,1241985484768735232,flatpee
1,1844347587928916061,Thu Oct 10 23:58:06 +0000 2024,0,goblok sj kalau komeng di bagian pertanian su...,1844527860578656311,NaN,Heraloebss,in,"Cikarang, Indonesia",0,0,0,https://x.com/AbisugandaCrg/status/18445278605...,1775976325016412160,AbisugandaCrg
2,1844334710316757045,Thu Oct 10 23:57:33 +0000 2024,3,sudah tepat pak komeng bicara demikian seharu...,1844527722128884212,NaN,tvOneNews,in,NaN,0,0,0,https://x.com/APraja85/status/1844527722128884212,1553279597281546240,APraja85
3,1844527285527036209,Thu Oct 10 23:57:03 +0000 2024,0,ketika sudah di bidang yang lain komeng sebelu...,1844527599042904074,NaN,TilloM77,in,NaN,0,0,0,https://x.com/TilloM77/status/1844527599042904074,1799799483733286912,TilloM77
4,1844347587928916061,Thu Oct 10 23:56:44 +0000 2024,0,gas terus bang komeng suara pendukung mu lebi...,1844527517266477282,NaN,Heraloebss,in,Sukabumi,0,0,0,https://x.com/lutfisetiono/status/184452751726...,325023707,lutfisetiono

In [1046]:
data = data[['full_text']]
data.head()

                                           full_text
0           yang ketawa ngerti maksud komeng kah itu
1   goblok sj kalau komeng di bagian pertanian su...
2   sudah tepat pak komeng bicara demikian seharu...
3  ketika sudah di bidang yang lain komeng sebelu...
4   gas terus bang komeng suara pendukung mu lebi...

In [1047]:
data.to_csv('data/komeng_clean.csv', index=False)